body {
  font-family: var(--font-family-helvetica);
  background-color: var(--main-theme);
  color: var(--off-white);
}

h2 {
  font-size: var(--fs-4);
  margin: var(--spacing-xl) 0;
}

a {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.1);
  }

  &:visited svg {
    fill: var(--light-grey);
  }
}

.container {
  padding: 0 var(--spacing-l);

  &__dependencies {
    display: grid;
    grid-gap: var(--spacing-xl);
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--dependency-card-width), 1fr)
    );
  }
}

.dependency-card {
  background: var(--gradient-background);
  border: 2px solid transparent;
  border-radius: var(--border-radius-s);
  padding: var(--spacing-l);

  &__heading {
    font-size: var(--fs-4);
  }

  &__description {
    font-size: var(--fs-5);
    margin-top: var(--spacing-l);
    text-align: center;
  }

  &__meta {
    h3 {
      font-size: var(--fs-3);
    }

    &-key {
      color: var(--light-grey);
      margin-top: var(--spacing-tiny);
    }

    .group-row div:first-of-type {
      margin-right: var(--spacing-l);
    }
  }
}
